@page
@model TrimTrim.Pages.ServiceMaster.IndexModel


<div class="container">

    <!-- Search form with custom styling -->
    <form method="post" class="search-form">
        <div class="form-group search-input">
            <label for="SearchTerm">Search:</label>
            <input type="text" asp-for="Search.SearchTerm" class="form-control" />
        </div>
        <div class="form-group search-input">
            <label for="MinPrice">Minimum Price:</label>
            <input type="number" asp-for="Search.MinPrice" class="form-control" />
        </div>
        <button type="submit" class="btn btn-light search-button">Search</button>

        <!-- Add a link or button for sorting by Price -->
        <a asp-page="./Index" asp-route-sort="Price" asp-route-sortOrder="Ascending" class="btn btn-light search-button">Sort by Lowest Price</a>
        <a asp-page="./Index" asp-route-sort="Price" asp-route-sortOrder="Descending" class="btn btn-light search-button">Sort by Highest Price</a>

    </form>

    <h2>Services</h2>

    @if (User.IsInRole("Admin"))
    {
        <p class="create-new-link">
            <a asp-page="./Create">Create New</a>
        </p>
    }

    <!-- Table with custom styling -->
    <table class="table service-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Service[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service[0].Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model.Service)
            {
                <tr>
                    <td>
                        @service.Name
                    </td>
                    <td>
                        @service.Price
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@service.Id">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-page="./Edit" asp-route-id="@service.Id">Edit</a>
                            <a asp-page="./Delete" asp-route-id="@service.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<link rel="stylesheet" href="~/css/SearchForm.css" />
